

.carousel-item-inner-box {
    width: 40%;
    height: 60%;
    background-color: rgb(229, 240, 200);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(2deg);
    border-radius: 20px;
    padding: 70px 30px;
    text-align: center;
}



@media screen and (max-width: 1140px) {

    .carousel-item-inner-box {
    width: 60%;
    height: 60%;
}
}


@media screen and (max-width: 768px) {

    .carousel-item-inner-box {
    width: 80%;
    height: 80%;
    padding: 60px 20px 30px;
    font-size: 0.9rem;
    }

    .carousel-item-inner-box h1{

    font-size: 1.3rem;
    }

}