.banner-info-box-outer-container {
    display: inline-block;
    width: 50%;
    height: 400px;
    text-align: center;
    color: white;
}

.banner-info-box-inner-container {
    display: inline-block;
    width: 360px;
    height: 360px;
    border: 5px solid rgb(176, 182, 154);
    transform: rotate(45deg);
    margin: 100px auto;
    z-index: -1;
    background-color: rgb(58, 59, 59, 0.7);
    border-radius: 10px;
}

.banner-info-box-top-container {
    position: absolute;
    width: 430px;
    height: 400px;
    transform: rotate(-45deg);
    margin:  -10px -20px;
    text-align: center;
}

.banner-infobox-title-container {
    width: 200px;
    height: 50px;
    margin: 10px auto;
}

.banner-infobox-paragraph-container {
    padding: 50px;
}

.banner-infobox-icon-container {
    margin: auto;
    width: 100px;
    height: 80px;
}


.banner-infobox-image {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.banner-infobox-title {
    font-family: 'Lora', serif;
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(176, 182, 154);
    border: 1px solid rgb(176, 182, 154);
    border-radius: 5px;
}


/*media queries*/

@media only screen and (max-width: 1360px) {

    .banner-info-box-outer-container {
        height: 360px;
    }


    .banner-info-box-inner-container {
        width: 300px;
        height: 300px;
    }

    .banner-info-box-top-container {
        width: 360px;
        height: 340px;
        margin:  -40px -50px;
    }

    .banner-infobox-title-container {
        width: 160px;
        height: 30px;
        margin: 15px auto;
    }

    .banner-infobox-paragraph-container {
        padding: 40px 40px;
    }

    .banner-infobox-paragraph {
        font-size: 0.95rem;
    }

    .banner-infobox-icon-container {
        margin: 30px auto 0px;
        width: 80px;
        height: 60px;
    }

    .banner-infobox-title {
        display: inline-block;
        font-size: 2.5rem;
        padding: 0 10px;
        border: 1px solid rgb(176, 182, 154);
        border-radius: 5px;
    }
}



@media only screen and (max-width: 1150px) {
    .banner-info-box-outer-container {
        height: 100%;
    }


    .banner-info-box-inner-container {
        width: 100%;
        height: 100%;
        transform: rotate(0deg);
        margin:  0 auto;
    }

    .banner-info-box-top-container {
        position: static;
        width: 100%;
        height: 100%;
        margin: 0;
        transform: rotate(0deg);
        display: inline-block;
    }

    .banner-infobox-title-container {
        width: 160px;
        height: 30px;
        margin: 25px auto;
    }

    .banner-infobox-paragraph-container {
        position: relative;
        display: inline-block;
        margin-top: 15px;
        padding: 30px 20px;
    }

    .banner-infobox-paragraph {
        font-size: 0.95rem;
    }

    .banner-infobox-icon-container {
        margin: 15px auto;
        width: 80px;
        height: 60px;
    }

    .banner-infobox-title {
        font-size: 2.5rem;
    }
}



@media only screen and (max-width: 780px) {


    .banner-infobox-title-container{
        display: inline-block;
        height: auto;
        width: auto;
        margin: 5px auto;
    }

    .banner-infobox-title-container p{
        display: inline-block;
        border: 1px solid rgb(176, 182, 154);
        border-radius: 5px;
        padding: 5px 20px ;
        margin: 0
    }

    .banner-infobox-paragraph-container {
        margin-top: 0;
        padding: 15px 20px;
    }

}


/*mobile size*/
@media only screen and (max-width: 550px) {


    .banner-infobox-paragraph-container {
        display: none;
    }

    .banner-infobox-title-container {
        width: 99%;
    }

    .banner-infobox-title-container p{
        font-size: 1.8rem;
        padding: 5px 5px ;
        width: 99%;
    }
}