.header-image {
    width: 100%;
    height: 100%;
}



.section-title {
    text-align: center;
    font-size: 5rem;
    color: rgb(57, 60, 63);;
    font-family: 'Lora', serif;
    font-weight: bolder;
    margin: 0;
    padding-top: 50px;
}


@media screen and (max-width: 1140px) {
    .section-title {
        font-size: 4rem;
    }
}


@media screen and (max-width: 768px) {
    .section-title {
        font-size: 3rem;
    }
}


@media screen and (max-width: 550px) {
    .section-title {
        font-size: 2rem;
        padding-top: 10px;
    }
}


