 .dropdown {
  position: absolute;
    top: 3.1rem;
    left: 0;
    width: 180px;
    padding: 0px;
    border-radius: 5px;
    display: none;
} 

.dropdown-link {
    color: white;
    display: block;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid white ;
    background-color: #333333;
}
.dropdown .nav-item {
    width: 100%;
    padding: 0;
}



.dropdown-link:hover {
    background-color: #4CAF50;
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
}

.nav-item:hover .dropdown {
    display: block;
}

.dropdown :last-child a{
    border-radius: 0 0 5px 5px;
}



.chevron {
    font-size: 0.8rem;
    margin-left: 4px;
} 
/*this class is for removing blue highlighting of the element*/
/*also changes a cursor to a pointer*/
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.noSelect:hover {
    border:none;
}

@media only screen and (max-width: 1220px){
    .dropdown {
        position: static;
        width: inherit;
        display: none;
    }
    .dropdown-link {
        text-align: left;
        text-indent: 20px;
        padding-left:50px;
        width: inherit;
        border-bottom: 1px solid white;
    }
    .dropdown-link:hover,  .dropdown-link.active {
        background-color: #333333;
        border-bottom: none;
    }
    .dropdown {
        display: block;
        border-bottom: none;
    }

    .dropdown :last-child a{
    border-radius: 0;
}
}