.nav-bar {
    background-color: #333333;
    height: 3.2rem;
    position: fixed;
    display: block;
    width: 100%;
    top: 11rem;
}

.logo {
    color: white;
    margin: 0.7rem;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 7px;
}

.logo-container {  
    width: 300px;
    height: 150px;
}

.upper-nav-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 28, 28);
    height: 11rem; 
    width: 100%;
}

.upper-nav-container-smaller {
    position: fixed;
    top: 0;
    height: 5.5rem;
    transition: height 0.5s;
}

.nav-bar-fixed {
    /* position: fixed; */
    width: 100%;
    z-index: 10;
    top:5.5rem;
    transition: top 0.5s;
}

.zoomed {
    transform: scale(0.5);
    transition: 0.5s;
}

.bars {
    display: none;
}

.home-icon, .coins-icon, .money-icon, .tools-icon, .contact-icon, .about-icon{
    margin-right: 8px;
}


.search-container {
    display: block;
    float: right;
    margin: 7.5px 25px 7.5px 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}


@media only screen and (max-width: 1220px){
    
    .bars {
        display: block;
        float: left;
        margin: 1px 10px;
    }
    
}
/*tablet size*/
@media only screen and (max-width: 780px){
    .nav-bar {
        position: static;
    }
    .logo-container {
        transform: scale(0.5);
    }

    .bars {
        display: block;
        float: left;
        margin: 1px 10px;
    }
   
    .upper-nav-container {
        position: static;
        height: 5.5rem;
    }

}


/*phone size*/
@media only screen and (max-width: 415px){
  
    .bars {
        margin: 9px 10px;
        font-size: 2rem;
    }
    .logo-container {
        transform: scale(0.5);
    }
   
    /* .upper-nav-container {
    position: static;
    height: 5.5rem;
    } */

}