.nav-item-list {
    text-transform: uppercase;
    color: white;
    width: 100%;
}

.nav-item-link {
   color: white;
   padding: 11px 25px;
   
}

.nav-item {
    display: inline-block;
    padding: 13px  2px;
    position: relative;
}

.nav-item a{
    padding: 11px 25px;
    margin: 0;
}


.nav-item-link:hover, .nav-item-link.active  {
    color: white;
    text-decoration: none;
    border-bottom: 5px solid #4CAF50;
}


@media only screen and (max-width: 1220px){
    .nav-item-list {
        max-height: 0px;
        width: 100%;
        padding:0;
    }
    .showing {
        max-height: 100%;
        display: none;
    }
    .nav-item {
        background-color: #333333;
        width: 100%;
        padding: 0;
    }

    .nav-item-link {
        width: 100%;
        display: inline-block;
        border-top: 1px solid white;
    }  

    .nav-item-link:hover, .nav-item-link.active {
    color: white;
    text-decoration: none;
    /* border-top: 1px solid white; */
    border-bottom:none;
    }
    
}
