.footer {
    text-align: center;
    background-color: #333333;
    width: 100%;
    height: 4.2rem;
}

.copyright {
    color: white;
    font-size: small;
    margin: 0;
}

.icons {
    padding: 10px 10px 5px;
}